.full-width-table {
  width: 100%;
  background: transparent;
  border: whitesmoke solid;
  
}
.data-table{
  position: absolute;
  width: 70%;
  height: 20px;
  margin: 20px auto;
  top: 60px;
  left:250px;
  background: transparent;
 
  
}
.mat-cell{
  border: black 0.1; 
}
.mat-header-cell{
  border:whitesmoke solid 0.1;
}
.paginator{

  background: transparent;
  border: whitesmoke solid;
}


