.inner_container{
    text-align: center;
    width:30%;
    margin: auto;
    background-color: whitesmoke;
    padding: 20px;
    border-top-left-radius: 1%;
}
.container{
    margin-top: 10px;
    text-align: center;
}
.right-container{

    position: fixed;
    text-align: center;
    margin-top: -1%;
    margin-left: 25%;
    width: 18%;
    max-height: max-content;
    /* background-color:#1F1D36;   */
    top: 80px;
    right: 7px;
}