<div class="container">

    <div class="card">

        <h1>Hello this is view advertisement</h1>
        <mat-card class="viewad-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title> Title of advertisement</mat-card-title>
              <mat-card-subtitle>name of creater</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://image.freepik.com/free-vector/black-tea-ad-with-traditional-chese-tea-pot-pouring-hot-tea-into-cup_317810-1425.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
               The Offer Description
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="updatebtnClick()" color="accent">Update</button>
              <button mat-button (click)="deletebtnClick()" color="warn">Delete</button>
            </mat-card-actions>
          </mat-card>
    </div>
</div>
