.field{
    width:90%;
    height:5%;
}

.card{
    text-align: center;
    width:30%;
    margin: auto;
    background-color: #FAEEE0;
    padding: 20px;
    border-top-left-radius: 1%;
}

.container{
    margin-top: 10px;
}

.card h1{
    text-align: center;
}

.formbtn{
    margin:5px;
    margin-top: 20px;
}
.mat-icons.color_green { color: #4E9F3D; }


.mat-icons.color_red { color: #E02401; }