<div class="container">
    <!-- <h1>Welcome to Farmapp UI</h1>
    <p>Look It works!</p>
    <div class="tablecard">
        <app-viewallads></app-viewallads> 
    </div> -->
    <!-- <app-viewallads></app-viewallads>  -->
    <router-outlet></router-outlet>
    <div class="endfooter">
        <a class="linkbtn" routerLink="/createad" mat-raised-button color="accent" >CreateAdvertisement</a>
        <a class="linkbtn" routerLink="/viewad" mat-raised-button color="accent" >ViewAdvertisement</a>

    </div>

</div>

