.card{
    text-align: center;
    width:40%;
    margin: auto;
    background-color: whitesmoke;
    padding: 20px;
    border-top-left-radius: 1%;
}
.container{
    text-align: center;
    margin-top: 10px;
    height: 80%;
    width: 50%;
}
.loginbtn{
    text-align: center;
    margin:5px;
    margin-top: 5px;

}
.field{
    width:90%;
    height:5%;
}
