<div class="container">
    <div class="card">
        <!-- (ngSubmit)="doSubmitForm()" -->
        <div class="img-container">
          <img class="img-fluid" src="/assets/password.png" alt="">
        </div>
        <h1 >Login Here..</h1>
        <form #form (ngSubmit)="SubmitLoginForm()">
        
            <!-- Loginname Field -->
            <mat-form-field class="field" appearance="fill" color="accent">
              <mat-icon class="mat-icons color_green" matPrefix *ngIf="loginname.value.length>4">sentiment_very_satisfied</mat-icon>
            <mat-icon class="mat-icons color_red" matPrefix *ngIf="loginname.value.length<5">sentiment_very_dissatisfied</mat-icon>
              <mat-label>Username</mat-label>
            <input [(ngModel)]="credentials.username" matInput #loginname minlength="5" maxlength="10" name="username" required>
            <mat-hint align="end">{{loginname.value.length}}/10 </mat-hint>
            </mat-form-field>
            <!-- Loginname Field -->

            <!-- Password Field -->
            <mat-form-field class="field" appearance="fill"color="accent">
              <mat-icon class="mat-icons color_green" matPrefix *ngIf="pwd.value.length>4">sentiment_very_satisfied</mat-icon>
                <mat-icon class="mat-icons color_red" matPrefix *ngIf="pwd.value.length<5">sentiment_very_dissatisfied</mat-icon>
                <mat-label>Password</mat-label>
                <input [(ngModel)]="credentials.password" matInput #pwd required [type]="hide ? 'password' : 'text'" name="password" >
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-hint align="end">{{pwd.value.length}}/10 </mat-hint>
              </mat-form-field>


              <!-- Password Field -->
              <!-- Submit Reset btn -->
              <div class="loginbtn">
                <!-- "loginname.value.length<5 || pwd.value.length<5" -->
                <button *ngIf="loginname.value.length<1 || pwd.value.length<1" class="formbtn" type="submit" mat-raised-button  disabled>Login</button>
                <button *ngIf="loginname.value.length>0 && pwd.value.length>0" class="formbtn" type="submit" mat-raised-button color="accent" >Login</button>
                <button class="formbtn" type="reset" mat-stroked-button>Reset</button>
              </div>
    
              <!-- <button class="formbtn" type="reset" mat-raised-button color="warn" >Clear</button> -->
              <!-- Submit Reset btn -->

            
        </form>
        <div>
            {{credentials | json}} 
        </div>
    </div>
</div>