<mat-toolbar class="navbar">
   
  
  <!-- home icon -->
<!-- I will show home icon if user is logged in as admin else hide 
    *ngIf="loggedinasadmin" by using this code on btn and icon both
-->
<button  routerLink=''  mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon >home</mat-icon>
  </button> 

  <!-- Span text -->
  <span>My App</span>
  <span class="example-spacer"></span>

  <!-- register -->
  <mat-label class="label" *ngIf="!loggedin">Register</mat-label>
  <a class="navbar-btn" *ngIf="!loggedin" routerLink="registertab" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" value="Register">
    <!-- <mat-icon>perm_identity</mat-icon> -->
    
    
    <mat-icon>supervised_user_circle</mat-icon>
    
  </a>

  <!-- login -->
  <mat-label class="label" *ngIf="!loggedin">Login</mat-label>
  <a class="navbar-btn" *ngIf="!loggedin" routerLink="login" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>vpn_key</mat-icon>
    
  </a>

  <!-- about us -->
  <!-- <mat-label class="label" *ngIf="!loggedin">About us</mat-label>
  <a class="navbar-btn" *ngIf="!loggedin" routerLink="aboutus" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" value="Register"> -->
  <mat-label class="label" *ngIf="false">About us</mat-label>
  <a class="navbar-btn" *ngIf="false" routerLink="aboutus" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" value="Register">
    <!-- <mat-icon>perm_identity</mat-icon> -->
    
    
    <mat-icon>visibility</mat-icon>
    
  </a>
  <!-- about us -->



  <!-- loggedinusername -->
  <mat-label class="label" [(ngModel)]="loggedinusername" *ngIf="loggedin" value="loggedinusername">{{loggedinusername}}</mat-label>
  <a class="navbar-btn" *ngIf="loggedin" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>perm_identity</mat-icon>
    
  </a>

  <!-- logout -->
  <mat-label class="label" *ngIf="loggedin">Logout</mat-label>
  <a class="navbar-btn" (click)="logoutUser()" *ngIf="loggedin"  mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    
    <mat-icon>input</mat-icon>
    
  </a>
</mat-toolbar>