
.navbar{
    height: 10%;
    /* background-color: #24262b; */
    color:#24262b;
    background-image: url(
        src\assets\backgroung.png);
}
.example-spacer {
    flex: 1 1 auto;
  }
.label{
    margin-left: 2px;
    margin: 2px;
}