<!-- <mat-toolbar class="navbar">
    <button routerLink='' mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
     <mat-icon>home</mat-icon>
   </button>
   <span>Farmer Assistant UI</span>
   <span class="example-spacer"></span>
   <a class="navbar-btn" routerLink="register" mat-button  color="white" appearance="outline">Register</a>
  <button class="navbar-btn" routerLink="login" mat-button  color="secondary">Login</button>
 </mat-toolbar> -->

 <mat-toolbar class="navbar">
  <button routerLink='' mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <!-- <mat-icon>menu</mat-icon> -->
    <mat-icon>home</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>

  <!-- register -->
  <mat-label *ngIf="!loggedin">Register</mat-label>
  <a class="navbar-btn" *ngIf="!loggedin" routerLink="register" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" value="Register">
    <!-- <mat-icon>perm_identity</mat-icon> -->
    
    
    <mat-icon>supervised_user_circle</mat-icon>
    
  </a>

  <!-- login -->
  <mat-label *ngIf="!loggedin">Login</mat-label>
  <a class="navbar-btn" *ngIf="!loggedin" routerLink="login" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>vpn_key</mat-icon>
    
  </a>

  <!-- loggedinusername -->
  <mat-label [(ngModel)]="loggedinusername" *ngIf="loggedin" value="loggedinusername">User</mat-label>
  <a class="navbar-btn" *ngIf="loggedin" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>perm_identity</mat-icon>
    
  </a>

  <!-- logout -->
  <mat-label *ngIf="loggedin">Logout</mat-label>
  <a class="navbar-btn" (click)="logoutUser()" *ngIf="loggedin"  mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    
    <mat-icon>input</mat-icon>
    
  </a>
</mat-toolbar>