.footer{
    background-color: #2C394B;
    padding:1%;
    width:98%;
    height:7%;
    position: relative;
    color: whitesmoke;
    /* bottom: .1em; */
    bottom: -100%;
    left: .1em;
    right: 1em;
    /* margin: 2px; */
    /* margin-right:1px ; */
    text-align: center;
    z-index: 1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
