<h2 mat-dialog-title>Create Advertisement</h2>
<mat-dialog-content class="dialogbox">


    <mat-form-field class="field" appearance="fill">
        <mat-label>Created By</mat-label>
        <input matInput required disabled name="createdBy" [(ngModel)]="ad_data.postedBy">
    </mat-form-field>

    <!-- Title form field -->
    <mat-form-field class="field" appearance="outline" color="accent">
        <mat-label>Title</mat-label>
        <input autocomplete="off" matInput required [formControl]="adtitleControl" minlength="3" maxlength="10"
            placeholder="Ex. Fertilizer" name="title" [(ngModel)]="ad_data.title">
        <mat-icon class="mat-icons color_green" matSuffix *ngIf="adtitleControl.valid">sentiment_very_satisfied
        </mat-icon>
        <mat-icon class="mat-icons color_red" matSuffix *ngIf="adtitleControl.invalid">sentiment_very_dissatisfied
        </mat-icon>
        <mat-error align="start" *ngIf="adtitleControl.invalid">Please Enter Capitalized Title Ex. Fertilizer
        </mat-error>
        <mat-hint align="end">{{adtitleControl.value.length}} / 10</mat-hint>
    </mat-form-field>

    <!-- Adidentifier form field -->
    <mat-form-field class="field" appearance="outline" color="accent">
        <mat-label>AdvertisementIdentifier</mat-label>
        <input autocomplete="off" matInput required [formControl]="adIdControl" minlength="3" maxlength="5"
            placeholder="identifier" name="adId" [(ngModel)]="ad_data.advertiseIdentifier">
        <mat-icon class="mat-icons color_green" matSuffix *ngIf="adIdControl.valid">
            sentiment_very_satisfied</mat-icon>
        <mat-icon class="mat-icons color_red" matSuffix *ngIf="adIdControl.invalid">
            sentiment_very_dissatisfied</mat-icon>
        <!-- <mat-hint align="end">{{adidentity.value.length}} / 4</mat-hint> -->
        <mat-error *ngIf="adIdControl.invalid">only alphanumeric values are allowed</mat-error>
    </mat-form-field>

    <!-- Available stock Form field 
-->
    <mat-form-field class="field" appearance="outline" color="accent">
        <mat-label>Available stock</mat-label>
        <input autocomplete="off" matInput required [(ngModel)]="ad_data.availableStock" name="adstock" type="number"
            placeholder="Ex.10" [formControl]="stockControl">
        <mat-icon class="mat-icons color_green" matSuffix *ngIf="stockControl.valid">
            sentiment_very_satisfied</mat-icon>
        <mat-icon class="mat-icons color_red" matSuffix *ngIf="stockControl.invalid">
            sentiment_very_dissatisfied</mat-icon>
        <mat-error *ngIf="stockControl.invalid">Min Amount: 1/- Max Amount 999</mat-error>

    </mat-form-field>

    <!-- Offer Description Form Field -->
    <mat-form-field class="field" appearance="outline" color="accent">
        <mat-label>Offer Description</mat-label>
        <textarea autocomplete="off" matInput required minlength="5" maxlength="100" [formControl]="offerdescControl"
            placeholder="Offer description" name="adDescription" [(ngModel)]="ad_data.offerDescription"></textarea>
        <mat-icon class="mat-icons color_green" matSuffix *ngIf="offerdescControl.valid">
            sentiment_very_satisfied</mat-icon>
        <mat-icon class="mat-icons color_red" matSuffix *ngIf="offerdescControl.invalid">
            sentiment_very_dissatisfied</mat-icon>

        <mat-error align="start" *ngIf="offerdescControl.invalid">5-100 Alphabet Characters</mat-error>
        <mat-hint align="end">
            {{offerdescControl.value.length}}/100 </mat-hint>
    </mat-form-field>





</mat-dialog-content>

<mat-dialog-actions class="dialogbtn">

    <div class="formbtns">

        <!-- || progressbar.value>=100 -->
        <!-- progressbar.value<100 -->

        <div class="submitbtn" *ngIf="
          (adtitleControl.valid && 
          adIdControl.valid &&
          stockControl.valid &&
          offerdescControl.valid

          );
        then enablecreate 
        else disablecreate
         "></div>

        <ng-template #disablecreate>
            <!-- <mat-progress-bar #progress mode="buffer" color="accent"></mat-progress-bar> -->
            <button class="formbtn" disabled type="submit" mat-raised-button color="accent">Create</button>

        </ng-template>

        <ng-template #enablecreate>
            <button class="formbtn" type="submit" (click)="doSubmitForm()" mat-raised-button class="mat-success" >Create</button>
        </ng-template>


        <button class="formbtn" type="reset" mat-stroked-button color="">Clear</button>
    </div>

</mat-dialog-actions>