<!-- <div class="maincontainer"> -->
  <!-- <img class="banner"
  src="\assets\backgroung.png" alt="banner"> -->
  
  
  <div class="container">
    <div class="heading">
    
      <h1>Register as</h1>
     
    
    </div> 
      <mat-tab-group mat-align-tabs="center" class="tabgroup">
        <!-- To do work on how to pass value from this tab to console
        then try to add this role on register form componenet
        (click)="selectedrole=ROLE_DEALER"
        (click)="selectedrole=ROLE_FARMER"
        -->
  <!-- DEALERTAB -->
          <mat-tab class="tab" label="Dealer"> 
           <div class="formcontainer">
            <form  (ngSubmit)="submitFormasDealer()" >
  
              <!-- Username Field -->
              <mat-form-field class="field" appearance="fill" color="accent">
                <mat-icon class="mat-icons color_green" matPrefix *ngIf="userNameControl.valid">sentiment_very_satisfied</mat-icon>
              <mat-icon class="mat-icons color_red" matPrefix *ngIf="userNameControl.invalid">sentiment_very_dissatisfied</mat-icon>
                <mat-label>Username</mat-label>
    
              <input autocomplete="off" matInput [formControl]="userNameControl" placeholder="e.g Ronny"  [(ngModel)]="registerForm.userName" #username minlength="3" maxlength="10" name="Username" required>
              <mat-error *ngIf="userNameControl.invalid">Username should be Alphabets only</mat-error>
              <mat-hint align="end">{{username.value.length}}/10 </mat-hint>
              
              </mat-form-field>
              <!-- Username Field -->
    
    
    
    
              <!-- LoginName Field -->
              <mat-form-field class="field" appearance="fill">
                <mat-icon class="mat-icons color_green" matPrefix *ngIf="loginNameControl.valid">sentiment_very_satisfied</mat-icon>
              <mat-icon class="mat-icons color_red" matPrefix *ngIf="loginNameControl.invalid">sentiment_very_dissatisfied</mat-icon>
                <mat-label>LoginName</mat-label>
              <input autocomplete="off" matInput [formControl]="loginNameControl" placeholder="e.g brad_123" [(ngModel)]="registerForm.loginName" #loginname minlength="5" maxlength="10" name="Loginname" required>
              <mat-error *ngIf="loginNameControl.invalid">This should be lowercase and can contain numbers</mat-error >
              <mat-hint align="end">{{loginname.value.length}}/10 </mat-hint>
             
              </mat-form-field>
              <!-- LoginName Field -->
    
                <!-- Password field -->
                <mat-form-field class="field" appearance="outline" color="accent">
                  <mat-icon class="mat-icons color_green" matPrefix *ngIf="pwdControl.valid">sentiment_very_satisfied</mat-icon>
              <mat-icon class="mat-icons color_red" matPrefix *ngIf="pwdControl.invalid">sentiment_very_dissatisfied</mat-icon>
                    <mat-label>Enter your password</mat-label>
                    <input id="pass" autocomplete="off" matInput [formControl]="pwdControl" [(ngModel)]="registerForm.pwd" name="pwd" [type]="hide ? 'password' : 'text'" 
                     #password minlength="5" maxlength="15" 
                      required placeholder="Password"  
                      >
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon >{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="pwdControl.hasError('required')">This Field is mandatory*</mat-error>
                    <mat-error *ngIf="pwdControl.hasError('pattern')">1 Uppercase,1 Lowercase,1 Number & 1 Special Character</mat-error>
                    <mat-hint align="end">{{password.value.length}} / 10</mat-hint>
                    
                  </mat-form-field>
                   <!-- Password field -->
    
    
                    <!-- Telephone field -->
                  <mat-form-field class="field" appearance="fill">
                   
                        
                    <span matPrefix class="spantag">
                      
                      +91&nbsp;
                    <mat-icon class="mat-icons color_green" matPrefix *ngIf="phoneControl.valid">sentiment_very_satisfied</mat-icon>
                    <mat-icon class="mat-icons color_red" matPrefix *ngIf="phoneControl.invalid">sentiment_very_dissatisfied</mat-icon>  </span>
                    <mat-label>Telephone</mat-label>
                    <input autocomplete="off" id="phone" matInput  [formControl]="phoneControl" type="tel" [(ngModel)]="registerForm.phone"   placeholder="00000-00000" required>
                    <mat-icon matSuffix >phone</mat-icon> 
                    <mat-error *ngIf="phoneControl.hasError('required')">This Field is mandatory*</mat-error>
                    <mat-error *ngIf="phoneControl.hasError('pattern')">Enter a 10 digit Phone Number</mat-error>

                    <mat-hint align="end">{{phone.value.length}} / 10</mat-hint>
                    
                  </mat-form-field>
                  <!-- Telephone field -->
    
    
                  <!-- Submit reset btns -->
                 
                  <div class="formbtns">
                    
                    <!-- || progressbar.value>=100 -->
                    <!-- progressbar.value<100 -->
                      
                      <div class="submitbtn" *ngIf="
                      (userNameControl.valid &&
                      loginNameControl.valid &&
                    pwdControl.valid&&
                    phoneControl.valid);
                    then enablesubmit 
                    else disablesubmit
                     "></div>
    
                    <ng-template #disablesubmit>
                      <mat-progress-bar #progress  mode="buffer"  color="accent"></mat-progress-bar>
                      <button class="formbtn"  disabled type="submit" mat-raised-button color="accent" >Register</button>
                      
                    </ng-template>
    
                    <ng-template  #enablesubmit >
                      <button class="mat-success"  type="submit" mat-raised-button >Register</button>
                    </ng-template>
    
                      
                    <button class="formbtn" type="reset" mat-stroked-button color="" >Clear</button>
                  </div> 
                  
                  <!-- Submit reset btns -->
            </form>
           </div>
          </mat-tab>
          <!-- /DEALERTAB -->
  
          <!-- FARMER TAB -->
          <mat-tab class="tab" label="Farmer" >
          <div class="formcontainer">
            <form (ngSubmit)="submitFormasFarmer()" >
  
             <!-- Username Field -->
             <mat-form-field class="field" appearance="fill" color="accent">
              <mat-icon class="mat-icons color_green" matPrefix *ngIf="userNameControl.valid">sentiment_very_satisfied</mat-icon>
            <mat-icon class="mat-icons color_red" matPrefix *ngIf="userNameControl.invalid">sentiment_very_dissatisfied</mat-icon>
              <mat-label>Username</mat-label>
  
            <input autocomplete="off" matInput [formControl]="userNameControl" placeholder="e.g Ronny"  [(ngModel)]="registerForm.userName" #username minlength="3" maxlength="10" name="Username" required>
            <mat-error *ngIf="userNameControl.invalid">Username should be Alphabets only</mat-error>
            <mat-hint align="end">{{username.value.length}}/10 </mat-hint>
            
            </mat-form-field>
            <!-- Username Field -->
    
    
    
    
             <!-- LoginName Field -->
             <mat-form-field class="field" appearance="fill">
              <mat-icon class="mat-icons color_green" matPrefix *ngIf="loginNameControl.valid">sentiment_very_satisfied</mat-icon>
            <mat-icon class="mat-icons color_red" matPrefix *ngIf="loginNameControl.invalid">sentiment_very_dissatisfied</mat-icon>
              <mat-label>LoginName</mat-label>
            <input autocomplete="off" matInput [formControl]="loginNameControl" placeholder="e.g brad_123" [(ngModel)]="registerForm.loginName" #loginname minlength="5" maxlength="10" name="Loginname" required>
            <mat-error *ngIf="loginNameControl.invalid">This should be lowercase and can contain numbers</mat-error >
            <mat-hint align="end">{{loginname.value.length}}/10 </mat-hint>
           
            </mat-form-field>
            <!-- LoginName Field -->
    
               <!-- Password field -->
               <mat-form-field class="field" appearance="outline" color="accent">
                <mat-icon class="mat-icons color_green" matPrefix *ngIf="pwdControl.valid">sentiment_very_satisfied</mat-icon>
            <mat-icon class="mat-icons color_red" matPrefix *ngIf="pwdControl.invalid">sentiment_very_dissatisfied</mat-icon>
                  <mat-label>Enter your password</mat-label>
                  <input id="pass" autocomplete="off" matInput [formControl]="pwdControl" [(ngModel)]="registerForm.pwd" name="pwd" [type]="hide ? 'password' : 'text'" 
                   #password minlength="5" maxlength="15" 
                    required placeholder="Password"  
                    >
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon >{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-error *ngIf="pwdControl.hasError('required')">This Field is mandatory*</mat-error>
                  <mat-error *ngIf="pwdControl.hasError('pattern')">1 Uppercase,1 Lowercase,1 Number & 1 Special Character</mat-error>
                  <mat-hint align="end">{{password.value.length}} / 10</mat-hint>
                  
                </mat-form-field>
                 <!-- Password field -->
    
    
                    <!-- Telephone field -->
                  <mat-form-field class="field" appearance="fill">
                   
                        
                    <span matPrefix class="spantag">
                      
                      +91&nbsp;
                    <mat-icon class="mat-icons color_green" matPrefix *ngIf="phoneControl.valid">sentiment_very_satisfied</mat-icon>
                    <mat-icon class="mat-icons color_red" matPrefix *ngIf="phoneControl.invalid">sentiment_very_dissatisfied</mat-icon>  </span>
                    <mat-label>Telephone</mat-label>
                    <input autocomplete="off" id="phone" matInput  [formControl]="phoneControl" type="tel" [(ngModel)]="registerForm.phone" #phone maxlength="10"  placeholder="00000-00000" required>
                    <mat-icon matSuffix >phone</mat-icon> 
                    <mat-error *ngIf="phoneControl.hasError('required')">This Field is mandatory*</mat-error>
                    <mat-error *ngIf="phoneControl.hasError('pattern')">Enter a 10 digit Phone Number</mat-error>

                    <mat-hint align="end">{{phone.value.length}} / 10</mat-hint>
                    
                  </mat-form-field>
                  <!-- Telephone field -->
    
    
                  <!-- Submit reset btns -->
                 
                  <div class="formbtns">
                    
                    <!-- || progressbar.value>=100 -->
                    <!-- progressbar.value<100 -->
                      
                      <div class="submitbtn" *ngIf="
                      (userNameControl.valid &&
                      loginNameControl.valid &&
                    pwdControl.valid &&
                    phoneControl.valid);
                    then enablesubmit 
                    else disablesubmit
                     "></div>
    
                    <ng-template #disablesubmit>
                      <mat-progress-bar #progress  mode="buffer"  color="accent"></mat-progress-bar>
                      <button class="formbtn"  disabled type="submit" mat-raised-button color="accent" >Register</button>
                      
                    </ng-template>
    
                    <ng-template  #enablesubmit >
                      <button class="mat-success" type="submit" mat-raised-button  >Register</button>
                    </ng-template>
    
                      
                    <button class="formbtn" type="reset" mat-stroked-button color="" >Clear</button>
                  </div> 
                  
                  <!-- Submit reset btns -->
            </form>
          </div>  
          </mat-tab>
          <!-- FARMER TAB -->
          
        </mat-tab-group>
        
  </div>
<!-- </div> -->



<!-- To do add this image in background -->
